[Unit]
Description=xremap key remapper
After=graphical-session.target

[Service]
Environment=XDG_SESSION_TYPE=wayland
ExecStart=%h/.local/bin/xremap --desktop gnome --watch=config --allow-launch true %h/.config/xremap/config.yml
Restart=on-failure

[Install]
WantedBy=graphical-session.target
